In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
po_df = pd.read_csv("/kaggle/input/geolifeclef-2025/GLC25_P0_metadata_train.csv")
pa_df = pd.read_csv("/kaggle/input/geolifeclef-2025/GLC25_PA_metadata_test.csv")

In [6]:
po_df.head()

,publisher,year,month,day,lat,lon,geoUncertaintyInM,taxonRank,date,dayOfYear,speciesId,surveyId
0,Pl@ntNet,2019,5.0,5.0,43.74605,1.573057,6.0,SPECIES,2019-05-05,125,3383.0,1
1,Pl@ntNet,2021,3.0,17.0,42.12559,0.314948,5.0,SPECIES,2021-03-17,76,1152.0,2
2,Pl@ntNet,2021,6.0,5.0,48.29520,-0.934518,24.9,SPECIES,2021-06-05,156,6772.0,3
3,iNaturalist.org,2021,6.0,9.0,53.63367,-2.644535,8.0,SPECIES,2021-06-09,160,3318.0,4
4,iNaturalist.org,2021,4.0,1.0,49.79471,7.925086,15.0,SPECIES,2021-04-01,91,3374.0,5

In [7]:
pa_df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,lon,lat,year,geoUncertaintyInM,areaInM2,region,country,surveyId
0,10.033550,57.12081,2019,10.0,707.0,CONTINENTAL,Denmark,642
1,7.333000,46.22997,2019,NaN,10.0,ALPINE,Switzerland,1792
2,1.843658,42.58006,2018,0.0,-inf,ALPINE,France,3256
3,11.720090,46.26149,2021,10.0,35.0,ALPINE,Italy,3855
4,9.361870,55.90245,2017,10.0,79.0,CONTINENTAL,Denmark,4889

In [8]:
po_df.describe()

,year,month,day,lat,lon,geoUncertaintyInM,dayOfYear,speciesId,surveyId
count,5.079797e+06,5.079313e+06,5.077978e+06,5.079797e+06,5.079797e+06,5.079797e+06,5.079797e+06,5.079797e+06,5.079797e+06
mean,2.019691e+03,6.668166e+00,1.587809e+01,5.093416e+01,7.200107e+00,1.960271e+01,1.874085e+02,5.548289e+03,1.958906e+06
std,1.276998e+00,2.055715e+00,8.849674e+00,6.327424e+00,6.459158e+00,2.061601e+01,6.251571e+01,3.265986e+03,1.131119e+06
min,2.017000e+03,1.000000e+00,1.000000e+00,3.456858e+01,-1.053904e+01,1.000000e-02,1.000000e+00,0.000000e+00,1.000000e+00
25%,2.019000e+03,5.000000e+00,8.000000e+00,4.622206e+01,3.031679e+00,5.000000e+00,1.450000e+02,2.703000e+03,9.795300e+05
50%,2.020000e+03,7.000000e+00,1.600000e+01,5.087179e+01,8.156571e+00,1.000000e+01,1.850000e+02,5.499000e+03,1.957783e+06
75%,2.021000e+03,8.000000e+00,2.400000e+01,5.592847e+01,1.103426e+01,2.500000e+01,2.310000e+02,8.424000e+03,2.938109e+06
max,2.021000e+03,1.200000e+01,3.100000e+01,7.118392e+01,3.455792e+01,9.800000e+01,3.660000e+02,1.125400e+04,3.919662e+06

In [9]:
pa_df.describe()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,lon,lat,year,geoUncertaintyInM,areaInM2,surveyId
count,14784.000000,14784.000000,14784.000000,13944.000000,14140.0,1.478400e+04
mean,16.461253,47.600534,2018.387987,32.860227,-inf,4.029754e+06
std,10.814856,4.816185,1.248594,250.300685,NaN,1.562135e+06
min,-7.042125,35.170380,2017.000000,0.000000,-inf,6.420000e+02
25%,7.206492,43.122359,2017.000000,0.000000,10.0,3.043902e+06
50%,13.807625,46.719825,2018.000000,3.000000,16.0,5.002676e+06
75%,25.297947,51.305997,2019.000000,10.000000,79.0,5.006393e+06
max,34.961744,70.410833,2021.000000,10000.000000,1000.0,5.010112e+06